body {
    background-color: #ECF9FF;
}

hr {
    border-style: none;
    border-top-style: dotted;
    borer-color: grey;
    border-width: 5px;
    width: 10%;
}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}
