{% extends 'bootstrap/base.html' %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet"
          href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}
{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table">
          <!-- This is where you will write the code to render a Bootstrap 
          Table that contains all the information from the 
          cafe-data.csv file. -->
        <p>
        <thead>
            <tr>
          {% for info in cafes[0] %}
                <th scope="col">{{ info }}</th>
          {% endfor %}
            </tr>
        </thead>
          <tbody>
          {% for cafe in cafes[1:] %}
            <tr>
            {% for info in cafe %}
                {% if info[0:4] == "http" %}
                <td><a href="{{ info }}">Maps Link</a></td>
                {% else %}
                <td>{{ info }}</td>
                {% endif %}
            {% endfor %}
            </tr>
          {% endfor %}
          </tbody>
          </p>
  	  </table>
      <p><a href="{{url_for('home')}}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
